.angelleye_micro_account_body { 
    padding: 10px;
    border: 1px solid #d1c6c6;
    border-radius: 15px;
    display: block;
}
.width460 {
    width: 460px;
}
.angelleye_multi_account_left {
    max-width: 60%;
    float: left;
}

.angelleye_multi_account_right {
    max-width: 475px;
    float: left;
    padding: 10px;
    border: 1px solid #d1c6c6;
    border-radius: 15px;
    display: block;
    margin-top: 6px;
    margin-left: 10px;
    width: 37%;
}

.angelleye_pfwma_tips {
    list-style: circle;
    margin: 0 0 0 12px;
}

#woocommerce_paypal_express_api_condition_value { 
    height: 27px;
    line-height: 1;
    padding-top: 0px;
}

@media screen and (max-width: 782px) {
    .angelleye_multi_account_left {
         max-width: 100% !important;
          width: 100%;
          
    } 
    .micro_account_fields {
        max-width: 100% !important;
        width: 100%;
    }
    .angelleye_multi_account_right {
        max-width: 100% !important;
        width: 95%;
        margin-left: 0px;
    }
}